@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles, e.g., in globals.css */
/* global.css or similar file */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.min-h-screen {
  min-height: 100vh;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 150, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
